<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3">
      <ul class="nav flex-column" id="mynavlist">
      <li class="nav-item">
            {% include pages.md name=page.name active='index' icon='home' %}
            Home
            </a>
      </li>

      <li class="nav-item">
            {% include pages.md name=page.name active='newsletters' icon='radio' %}
            EICUG Newsletters
            </a>
      </li>

      <li class="nav-item">
            <a class="nav-link" href="https://www.bnl.gov/eic/science.php" target="_blank">
            <span data-feather="target" style="color:coral" ></span>
            EIC Science&nbsp;<span data-feather="external-link" style="color:coral" ></span>
            </a>
      </li>        

      <li class="nav-item">
            {% include pages.md name=page.name active='join' icon='user-plus' %}
            Join EICUG
            </a>
      </li>

       <li class="nav-item">
              {% include pages.md name=page.name active='organization' icon='globe' %}
              Organization
              </a>
        </li>


        <li class="nav-item">
            {% include pages.md name=page.name active='wg' icon='users' %}
            Working Groups
            </a>
      </li>  


      <li class="nav-item">
            {% include pages.md name=page.name active='activities' icon='activity' %}
            Activities
            </a>
      </li>                                      

        <li class="nav-item">
              {% include pages.md name=page.name active='conferences' icon='mic' %}
              Conferences
              </a>
        </li>
        <li class="nav-item">
            {% include pages.md name=page.name active='meetings' icon='clock' %}
            EICUG Meetings
            </a>
        </li>
      
      <li class="nav-item">
            {% include pages.md name=page.name active='documents' icon='folder' %}
            Documents
            </a>
      </li>


      <li class="nav-item">
      {% include pages.md name=page.name active='media' icon='book-open' %}
      Media
      </a>
      </li>


      <li class="nav-item">
            <a class="nav-link" href="https://phonebook.sdcc.bnl.gov/eic/client/" target="_blank">
            <span data-feather="phone" style="color:coral" ></span>
            EICUG Phone Book&nbsp;<span data-feather="external-link" style="color:coral" ></span>
            </a>
      </li>

      <li class="nav-item">
            <a class="nav-link" href="https://calendar.google.com/calendar/embed?src=eicugadmin%40eicug.org&ctz=America%2FNew_York" target="_blank">
            <span data-feather="calendar" style="color:coral" ></span>
            EICUG Calendar&nbsp;<span data-feather="external-link" style="color:coral" ></span>
            </a>
      </li>

          <!-- li class="nav-item">
              <a class="nav-link" href="https://eic.github.io/" target="_blank">
              <span data-feather="cpu" style="color:coral"></span>
              Software&nbsp;<span data-feather="external-link" style="color:coral"></span>
              </a>
          </li -->

         <li>{{ site.HR }}</li>


         <li class="nav-item">&nbsp;</li>
    
    <li class="nav-item">
      <a class="nav-link" style="font-size: xx-small;" href="{{ '/' | relative_url }}">
      Site built<br/>  {{ site.time }} 
      </a>
    </li>

      </ul>
  </div>

</nav>
