
<nav class="col-md-2 d-md-block bg-light sidebar">
  <!-- d-none -->
  <div class="sidebar-sticky">
    <ul class="nav flex-column">


      <li class="nav-item">&nbsp;</li>
      <li class="nav-item">&nbsp;</li>

      <li class="nav-item">
        <a class="nav-link" href="{{ '/' | relative_url }}">
          <span data-feather="home"></span>
        Home 
        </a>
      </li>



      <li><hr/></li>

      <li class="nav-item">&nbsp;</li>
      <li class="nav-item">&nbsp;</li>
      <li class="nav-item">&nbsp;</li>

<li class="nav-item">
  <a class="nav-link" style="font-size: xx-small;" href="{{ '/' | relative_url }}">
  Site built<br/>  {{ site.time }} 
  </a>
</li>

 </ul>
  </div> <!-- sidebar-sticky -->
</nav>
