<!doctype html>
    <html lang="en">
    {% include head5.html %}
    <body>


        <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">EIC User Group</a>
            <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <!-- input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
            <div class="navbar-nav">
              <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="#">Sign out</a>
              </div>
            </div -->
          </header>
       
        <div class="container-fluid">
            <div class="row">
                    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                        <div class="position-sticky pt-3">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{{ '/' | relative_url }}">
                                    <span data-feather="home"></span>
                                    Home
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ '/content/join.html' | relative_url }}">
                                    <span data-feather="user-plus"></span>
                                    Join EICUG
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/">
                                    <span data-feather="globe"></span>
                                    Organization
                                    </a>
                                </li>                                
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                    <span data-feather="target"></span>
                                    Science
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://calendar.google.com/calendar/u/0/r?cid=ZWljdWcub3JnXzE5MDNoOGRwc3NlanQyZ2lndDI4cGlvZmU0QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20" target="_blank">
                                    <span data-feather="calendar"></span>
                                    EICUG Calendar&nbsp;<span data-feather="external-link"></span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://eic.github.io/" target="_blank">
                                    <span data-feather="cpu"></span>
                                    Software&nbsp;<span data-feather="external-link"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>

                    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                            <div class="text">
                          {{ content }}
                          </div>
                        </div>
                        </main>
            </div>
        

            </div>
        </div>

<!-- /div -->
        <!-- JS instrumentation -->
<!-- Placed at the end of the document so the pages load faster -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- script src="https://getbootstrap.com/docs/5.1/examples/sidebars/sidebars.js"></script -->

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>
    </body>
    </html>
